<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>{{data.isAuth ? 'Tienda Online' : 'NextUI'}}</span>
        <span class="spacer"></span>
        <div *ngIf="!data.isAuth">
            <a  mat-button  routerLink="/login">Login</a>
        </div>
        <div *ngIf="data.isAuth" >
            <mat-icon  matBadge="{{data.itemsCount == 0 ? '' : data.itemsCount}}" (click)="showCar()" matBadgeColor="warn" aria-hidden="false" aria-label="Example add_shopping_cart icon">add_shopping_cart</mat-icon>
            <mat-icon class="header-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
            <mat-icon class="header-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        </div>    
        <div *ngIf="data.isAuth">
            <a  mat-button  (click)="logout()">Logout</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
